// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-v4-rtl/scss/bootstrap-rtl.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~shabnam-font/dist/font-face.css';

.rtl {
    font-family: 'Shabnam', sans-serif;
}

.white-space-pre {
    white-space: pre;
}

.bg-chat-1 {
    background-color: #82ccdd;
}

.bg-chat-2 {
    background-color: #78e08f;
}
